<div class="container-launch">
  <div class="container-actions">
    <button matButton="outlined" (click)="navigateToLaunchesList()">
      Back to launches list
    </button>
  </div>

  @if (launchDetailsData$ | async; as data) {
    @if (data.loading) {
      <p>Loading launch...</p>
    } @else if (data.error) {
      <p>Launch not found.</p>
    } @else if (data.launch; as launch) {
      <mat-card class="launch-card">
        <mat-card-header>
          <img
            mat-card-avatar
            [src]="launch.links.mission_patch_small"
            alt="Mission's patch"
          />

          <mat-card-title>
            {{ launch.mission_name }}
          </mat-card-title>

          <mat-card-subtitle>
            Flight n°{{ launch.flight_number }}
          </mat-card-subtitle>

          <mat-icon>
            {{ data.isFavorite ? 'star' : 'star_border' }}
          </mat-icon>
        </mat-card-header>

        <mat-card-content class="card-content">
          <p class="date-text">
            <mat-icon>calendar_today</mat-icon>
            {{ launch.launch_date_local | date: 'dd/MM/yyyy' }}
          </p>
        </mat-card-content>

        <mat-card-actions class="card-actions">
          <mat-chip-set>
            <mat-chip
              [class.status-success]="launch.launch_success"
              [class.status-error]="!launch.launch_success"
            >
              {{ launch.launch_success ? 'Success' : 'Failure' }}
            </mat-chip>
          </mat-chip-set>
        </mat-card-actions>
      </mat-card>
    }
  }
</div>
